*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(5, 5, 5);
    color: rgb(230, 242, 253);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}
a{
    color: rgb(230, 242, 253);
    text-decoration: none;
}

nav{
    height: 9vh;
    background-color: #00276c;
    width: 100%;
    z-index: 1000;

    position: fixed;
    top: 0;
}

 /* Botão responsivo */
  
 .menu{
    & .menu-fakeTrigger{
      position: absolute;
      z-index: 1000;
      width: 3%;
      height: 90%;
      margin-left: 2%;
    }

    & .linhas-menu{
      position: absolute;
      z-index: 999;
      width: 3%;
      height: 90%;
      margin-left: 2%;
  
      & span{
        display: block;
        width: 100%;
        height: 10%;
        background-color: aliceblue;
        border-radius: 3px;
        margin-top: 20%;
        transition: all ease .4s;
      }
    }
  }

  .menu-fakeTrigger{
    opacity: 0;
    cursor: pointer;
  }

  .menu .menu-fakeTrigger:checked ~ .linhas-menu span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1);
  }
  .menu .menu-fakeTrigger:checked ~ .linhas-menu span:nth-child(2){
    opacity: 0;
  }
  .menu .menu-fakeTrigger:checked ~ .linhas-menu span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1);
  }

  .menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    background-color: #00276c;
    margin-left: -55%;
    transition: all ease .4s;

    & li{
      margin-top: 30%;
      margin-left: 8%;
      list-style-type: none;
    }
  }

  .menu .menu-fakeTrigger:checked ~ ul{
    margin-left: 0;
  }
  
  /* Botão responsivo */

  /* seções de texto */

.texto1, .texto2, .texto3{
    background: linear-gradient(to right, #00276c, #00003d);
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    padding-bottom: 2%;

    & h1{
        padding-top: 2%;
        margin-left: 2%;
        animation: Transicao 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
    }

    & p{
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        animation: Transicao 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 30%;
    }
}

.texto2{

    & .imagem{
        text-align: center;
    }

    & img{
        height: 80vh;
        border-radius: 20px;
    }
    
}

@keyframes Transicao {
    from{
        opacity: 0;
        translate: -100vw 0;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}

footer{
    height: 50vh;
    text-align: center;
    padding-bottom: 15%;

    & .faixa-info{
        text-align: center;
        height: 70vh;
        margin-top: 15%;
        background: linear-gradient(to left,#00003d00,  #002e5f, #00003d00);

        & h1{
            padding-top: 5%;
        }

        & .justificado{
            display: flex;
            justify-content: center;
            margin-top: 8%;

            & .html, .css, .js{
                border-left: solid 5px #014ba0;

                & ul{

                    & li{
                        text-align: center;
                        list-style-type: none;
                        padding-left: 5%;
                        padding-right: 5%;
                    }
                }

                & ul:hover{
                    animation: hoverUl 1s linear;
                    animation-fill-mode: forwards;
                }
            }

            & .js{
                border-right: solid 5px #014ba0;
            }
        }
    }
}

strong{
    color: aqua;
}

/* seções de texto */


  /*************************** HTML ******************************/

  .headerHTML{
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.534), rgba(255, 255, 255, 0)), url(../assets/bannerHTML.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  /*************************** HTML ******************************/

  /*************************** JS ******************************/

  .headerJS{
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.534), rgba(255, 255, 255, 0)), url(../assets/bannerJS.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  button{
    color: aliceblue;
    background-color: #00003d;
    border: none;
    border-radius: 5px;
    height: 4vh;
    width: 10vw;
    font-size: 2vh;
    cursor: pointer;
  }

  button:hover{
    scale: 0.9;
  }

  .slide{
    text-align: center;

    & .images{

        & img{
            margin-top: 2%;
        }
    }
  }

  .img1{
    color: purple;
  }
  .img2{
    color: greenyellow;
  }
  .id{
    color: orangered;
  }
  .funcao{
    color: gold;
  }
  .nomeImg{
    color: violet;
  }

  /*************************** JS ******************************/

  /*************************** CSS ******************************/

  .headerCSS{
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.534), rgba(255, 255, 255, 0)), url(../assets/bannerCSS.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .tag{
    color: red;
  }
  .titulo{
    color: purple;
  }
  .paragrafo{
    color: greenyellow;
  }

  /*************************** CSS ******************************/